<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ publication.paperurl }}">{{ publication.title }}</a>
    </h2>
    
    {% if publication.collection == 'publications' %}
      <p>Published in <i>{{ publication.venue }}</i>, {{ publication.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% endif %}

    {% if publication.citation and publication.paperurl %}
      <p>Recommended citation: {{ publication.citation }} <a href="{{ publication.paperurl }}"><u>{{ publication.paperurl }}</u></a></p>
    {% elsif publication.citation %}
      <p>Recommended citation: {{ publication.citation }} </p>
    {% elsif publication.paperurl %}
      <p>Download <a href="{{ publication.paperurl }}"><u>here</u></a></p>
    {% endif %}

  </article>
</div>